<div class="py-4 row">
  <h2 class="d-inline col-sm-8 col-12" [translate]="'Grades.RecentGrades'"></h2>
</div>
<div *ngIf="latestCourses[0] && !this.isLoading" class="row statbox-bottom__wrapper">

  <div class="col-12 d-block d-lg-none statbox-bottom">
    <div>
      <app-grades-statbox-bottom title="{{ 'Grades.PeriodStats' | translate}}"
                                 statsPeriod="{{ latestCourses[0].courseExam.examPeriod.name }} {{ latestCourses[0].courseExam.year.name }}"
                                 labelTotal="{{ 'Grades.TotalExamined' | translate }}" [registeredCourses]="registeredCourseCount"
                                 [passedCourses]="passedCourseCount" [passedGradeSimpleAverage]="passedGradeAverage" [isTranscript]=false></app-grades-statbox-bottom>
    </div>
  </div>

  <div class="col-12">
    <h2 class="py-4" *ngIf="latestCourses[0]"> <span [translate]="'Grades.ExamPeriod'"></span>:
      {{latestCourses[0].courseExam.examPeriod.name}} {{latestCourses[0].courseExam.year.name}}
    </h2>
  </div>
  <div class="col-lg-9">
    <div *ngFor="let course of latestCourses; let i = index;">
      <div class="card d-none d-md-block">
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-lg-7 col-xl-8">
              <div class="row">
                <div class="pl-2 pr-3 mt-n1 card-title font-lg">
                  <h5 class="font-weight-normal">
                    <span *ngIf="currentLanguage == defaultLanguage; else notDefault">{{course?.courseExam?.name}}</span>

                    <ng-template #notDefault><span>{{course.course | localize:['name']}}</span></ng-template>
                    <span class="text-indigo" *ngIf="course.status.alternateName == 'pending'">- {{'Grades.PendingCourses' | translate}}</span>
                  </h5>


                </div>
              </div>
              <div class="row pl-2 pr-3">
                <span class="text-secondary mr-3"><i class="fa fa-flag-checkered mr-2"></i>{{course.course.displayCode}}</span>
                <div *ngIf="course.courseClass.instructors.length == 0; else notShow">
                  <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i> {{'Grades.InstructorNotFound' | translate}}</span>
                </div>
                <ng-template #notShow>
                  <span class="text-secondary mr-3"><i class ="fa fa-user-secret mr-2"></i><span  *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                    {{instructor.instructor| localize:['givenName']}} {{instructor.instructor| localize:['familyName']}}{{isLast ? '' : ', '}}</span>
                </span>
                </ng-template>
              </div>
            </div>
            <div class="col-4 col-lg-3 col-xl-2">
              <button type="button" class="btn btn-outline-secondary rounded-pill btn-more btn-block my-4" [translate]="'Grades.Statistics'" (click)="showStatistics(course)"></button>
            </div>
            <div class="col-2 font-weight-bold text-right align-self-center" [ngClass]="(course.isPassed)?'text-success':'text-secondary'">
              <span class="font-4xl d-lg-block d-none">{{course.formattedGrade}}</span>
              <span class="font-2xl d-lg-none d-sm-block">{{course.formattedGrade}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-sm-block d-md-none">
        <div class="mb-3">
          <card-collapsible>
            <card-header>
              <div class="row">
                <h5 class="col-9 font-sm font-weight-normal">{{course.course| localize:['name']}}
                  <span class="text-indigo" *ngIf="course.status.alternateName == 'pending'">- {{'Grades.PendingCourses' | translate}}</span>
                </h5>
                <span class="font-2xl col-1 justify-content-end text-nowrap text-right font-weight-bold d-md-none d-sm-block float-right" [ngClass]="(course.isPassed)?'text-success':'text-secondary'">{{course.formattedGrade}}</span>
              </div>
            </card-header>
            <card-alternate-header>
            </card-alternate-header>
            <card-body>
              <div class="row pl-3">
                <span class="text-secondary mr-3"><i class="fa fa-flag-checkered mr-2"></i>{{course.course.displayCode}}</span>
                <div *ngIf="course.courseClass.instructors.length == 0; else notShow">
                  <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i> {{'Grades.InstructorNotFound' | translate}}</span>
                </div>
                <ng-template #notShow>
                  <span class="text-secondary mr-3"><i class ="fa fa-user-secret mr-2"></i><span  *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                    {{instructor.instructor| localize:['givenName']}} {{instructor.instructor| localize:['familyName']}}{{isLast ? '' : ', '}}</span>
                </span>
                </ng-template>
              </div>
              <div class="row pl-3 mt-2">
                <button type="button" class="btn btn-outline-secondary rounded-pill btn-more btn-block my-4" [translate]="'Grades.Statistics'" (click)="showStatistics(course)"></button>
              </div>
            </card-body>
          </card-collapsible>
        </div>
      </div>
    </div>
    <ng-container *ngIf="pendingGrades && pendingGrades.length && !isLoading">
      <div class="col-12">
        <h2 class="py-4"> <span>{{'Grades.PendingGradesOtherPeriod' | translate}}</span>
        </h2>
      </div>
        <div *ngFor="let pendingGrade of pendingGrades; let i = index;">
          <div class="card d-none d-md-block">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-lg-7 col-xl-8">
                  <div class="row">
                    <div class="pl-2 pr-3 mt-n1 card-title font-lg">
                      <h5 class="font-weight-normal">
                        <span *ngIf="currentLanguage == defaultLanguage; else notDefault">{{pendingGrade.courseExam?.name}}</span>
                        <ng-template #notDefault><span>{{pendingGrade.course | localize:['name']}}</span></ng-template>
                        <span class="text-indigo" *ngIf="pendingGrade.status?.alternateName == 'pending'">- {{'Grades.PendingCourses' | translate}}</span>
                      </h5>
                    </div>
                  </div>
                  <div class="row pl-2 pr-3">
                    <span class="text-secondary mr-3"><i class="fa fa-flag-checkered mr-2"></i>{{pendingGrade.course?.displayCode}}</span>
                    <div *ngIf="pendingGrade.courseClass?.instructors.length == 0; else notShow">
                      <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i> {{'Grades.InstructorNotFound' | translate}}</span>
                    </div>
                    <ng-template #notShow>
                      <span class="text-secondary mr-3"><i class ="fa fa-user-secret mr-2"></i><span  *ngFor="let instructor of pendingGrade.courseClass?.instructors; let isLast=last">
                        {{instructor.instructor| localize:['givenName']}} {{instructor.instructor| localize:['familyName']}}{{isLast ? '' : ', '}}</span>
                    </span>
                    </ng-template>
                    <span class="text-secondary mr-3"><i class="far fa-calendar pr-2"></i>{{pendingGrade.courseExam?.examPeriod?.name}} {{pendingGrade.courseExam?.year?.name}}</span>
                  </div>
                </div>
                <div class="col-4 col-lg-3 col-xl-2">
                  <button type="button" class="btn btn-outline-secondary rounded-pill btn-more btn-block my-4" [translate]="'Grades.Statistics'" (click)="showStatistics(pendingGrade)"></button>
                </div>
                <div class="col-2 font-weight-bold text-right align-self-center float-right" [ngClass]="(pendingGrade.isPassed)?'text-success':'text-secondary'">
                  <span class="font-4xl d-lg-block d-none">{{pendingGrade.formattedGrade}}</span>
                  <span class="font-2xl d-lg-none d-sm-block">{{pendingGrade.formattedGrade}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-sm-block d-md-none">
            <div class="mb-3">
              <card-collapsible>
                <card-header>
                  <div class="row">
                    <h5 class="col-9 font-sm font-weight-normal">{{pendingGrade.course| localize:['name']}}
                      <span class="text-indigo" *ngIf="pendingGrade.status?.alternateName == 'pending'">- {{'Grades.PendingCourses' | translate}}</span>
                    </h5>
                    <span class="font-2xl col-1 justify-content-end text-nowrap text-right font-weight-bold d-md-none d-sm-block float-right" [ngClass]="(pendingGrade.isPassed)?'text-success':'text-secondary'">{{pendingGrade.formattedGrade}}</span>
                  </div>
                </card-header>
                <card-alternate-header>
                </card-alternate-header>
                <card-body>
                  <div class="row pl-3">
                    <span class="text-secondary mr-3"><i class="fa fa-flag-checkered mr-2"></i>{{pendingGrade.course?.displayCode}}</span>
                    <div *ngIf="pendingGrade.courseClass.instructors.length == 0; else notShow">
                      <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i> {{'Grades.InstructorNotFound' | translate}}</span>
                    </div>
                    <ng-template #notShow>
                      <span class="text-secondary mr-3"><i class ="fa fa-user-secret mr-2"></i><span  *ngFor="let instructor of pendingGrade.courseClass?.instructors; let isLast=last">
                        {{instructor.instructor| localize:['givenName']}} {{instructor.instructor| localize:['familyName']}}{{isLast ? '' : ', '}}</span>
                    </span>
                    </ng-template>
                    <span class="text-secondary mr-3"><i class="far fa-calendar pr-2"></i>{{pendingGrade.courseExam?.examPeriod?.name}} {{pendingGrade.courseExam?.year?.name}}</span>
                  </div>
                  <div class="row pl-3 mt-2">
                    <button type="button" class="btn btn-outline-secondary rounded-pill btn-more btn-block my-4" [translate]="'Grades.Statistics'" (click)="showStatistics(pendingGrade)"></button>
                  </div>
                </card-body>
              </card-collapsible>
            </div>
          </div>
        </div>
    </ng-container>
  </div>

  <div class="col-lg-3 d-none d-lg-block statbox-sidebar">
    <div *ngIf="latestCourses[0] && !this.isLoading">
      <app-grades-statbox
        title = "{{ 'Grades.PeriodStats' | translate}}"
        statsPeriod = "{{ latestCourses[0].courseExam.examPeriod.name }} {{ latestCourses[0].courseExam.year.name }}"
        labelTotal="{{ 'Grades.TotalExamined' | translate }}"
        [registeredCourses] = "registeredCourseCount"
        [passedCourses] = "passedCourseCount"
        [passedGradeSimpleAverage] = "passedGradeAverage"
        [isTranscript] = false></app-grades-statbox>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && latestCourses && latestCourses.length === 0">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <span class="text-gray-600" [translate]="'Grades.NoGradesFound'"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <!-- Modal -->
  <div class="modal-header">
    <div class="d-flex flex-column justify-content-end w-100">
      <h5 class="modal-title text-center">{{ modalCourse.course.displayCode }} - {{ modalCourse.course| localize:['name'] }}</h5>
      <h5 class="modal-title text-center">{{ modalCourse.courseExam.examPeriod.name }} {{ modalCourse.courseExam.year.alternateName }}</h5>
    </div>

    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <h4 class="mx-auto mb-3">{{ 'Grades.Statistics'  | translate }}</h4>
        </div>
        <div class="row">
          <div class="col-6 label text-secondary">
            <label>{{ 'Grades.Chart.Graded'  | translate }}</label>
          </div>
          <div class="col-6">
            <span>{{studentsGraded}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6 label text-secondary">
            <label>{{ 'Grades.Chart.Successful'  | translate }}</label>
          </div>
          <div class="col-6">
            <span>{{studentsSuccessed}}</span>
          </div>
        </div>
        <div class="row mt-4">
          <h4 class="mx-auto mb-3">{{ 'Grades.Chart.GroupByGrade'  | translate }}</h4>
        </div>
        <div class="row  mb-2">
          <div class="col-6">
            <label>{{ 'Grades.Chart.Grade'  | translate }}</label>
          </div>
          <div class="col-6">
            <span>{{ 'Grades.Chart.NumberOfStudents'  | translate }}</span>
          </div>
        </div>
        <div class="row" *ngFor="let gradeLabel of doughnutChartLabels;let i=index;">
          <div class="col-6 label text-secondary">
            <label>{{gradeLabel}}</label>
          </div>
          <div class="col-6">
            <span>{{doughnutChartData[0][i]}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div style="display: block" *ngIf="!isLoading">
          <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [options]="doughnutOptions"
                  [chartType]="doughnutChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="button" (click)="closeModal()" class="btn btn-outline-secondary btn-cancel">{{ 'Grades.Chart.Close'  | translate }}</button>
  </div>
</ng-template>
